Repository RHsyseng/openshift-checks, pull requests merged in 2022-11, with the labels that each got.

#114 remove obsolete Intel FW check
  info/intel-firmware-version
Labels: info, size/M

#119 broken link fixes
  README.md
  checks/port-thrashing
  openshift-checks.sh
Labels: checks, size/S

#125 Update ovn_cleanConntrack.sh
  scripts/ovn_cleanConntrack.sh
Labels: size/XS, scripts

#127 doc: Adjust formatting
  scripts/README.md
Labels: size/S, scripts

#126 Cleaning code and discarding nodes with NotReady status
  scripts/ovn_cleanConntrack.sh
Labels: size/L, scripts
